.tasks {

    h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: #C9D1D3;
        text-align: center;
    }
    
    &-title {
        font-family: Montserrat;
        font-style: normal;
        line-height: normal;
        font-weight: bold;
        font-size: 32px;
        color: #64C4ED;
        padding-bottom: 20px;
        border-bottom: 1px solid #f2f2f2;
        margin-bottom: 30px;

        img {
            margin-left: 15px;
            opacity: .2;
            cursor: pointer;

            &:hover {
                opacity: .8;
            }
        }

        input {
            height: 100%;
        }
    }

    &-item {
        display: flex;
    
        & + .tasks-item {
            margin-top: 15px;
        }
    
        input[type=checkbox] {
            display: none;
    
            &:checked {
                & + .check {
                    background: #4DD599;
                    border: 2px solid #4DD599;
    
                    svg {
                        opacity: 1;
                    }
    
                    svg path {
                        stroke: white;
                    }
                }
            }
        }
    
        .check {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid #E8E8E8;
            box-sizing: border-box;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
    
            svg {
                opacity: 0;
            }
    
            &:hover {
                background: #F2F2F2;
                border: 2px solid #F2F2F2;
        
                svg {
                    opacity: 1;
                }
        
                svg path {
                    stroke: #b3b3b3;
                }
            }
        }
    }

    &-text {
        margin-left: 15px;
        border: none;
    }

    .create-task {
        margin-top: 20px;
    }

    .create-task-btn {
        border: none;
        padding: 0;
        background-color: transparent;
        display: flex;
        align-items: center;
        opacity: .5;
        cursor: pointer;
        outline: none;
        margin-left: 5px;

        p {
            font-size: 16px;
            margin-left: 15px;
        }
    }

    .create-task-form {

        .field {
            width: 100%;
        }

        .button {
            margin-top: 16px;

            & + .button {
                margin-left: 10px;
            }
        }
    }
}