* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1c1c166;
}

.todo {
  width: 750px;
  height: 530px;
  background-color: white;
  box-shadow: 1px 2px 20px #f3f3f3;
  display: flex;
}

.menu {
  background-color: #f4f6f8;
  width: 200px;
  height: 100%;
  padding: 60px 20px;
  box-sizing: border-box;
}

.tasks {
  padding: 56px;
  flex-grow: 1;
}

.field {
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 7px 11px;
  outline: none;

  &:hover {
    border-color: #d1d0d0;
  }

  &::placeholder {
    color: #c7c7c7;
  }
}

.button {
  background: #4DD599;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  color: white;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: darken(#4DD599, 5%);
  }

  &:active {
    background-color: darken(#4DD599, 10%);
  }

  &:disabled {
    background: #b3b6b5;
    color: #7d7b7b;
    pointer-events: none;
  }

  &-gray {
    background: #F4F6F8;
    color: #9C9C9C;

    &:hover {
      background: darken(#F4F6F8, 5%);
    }

    &:active {
      background: darken(#F4F6F8, 10%);
    }
  }
}
