* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1c1c166;
}

.todo {
  width: 750px;
  height: 530px;
  background-color: white;
  box-shadow: 1px 2px 20px #f3f3f3;
}

.menu {
  background-color: #f4f6f8;
  width: 200px;
  height: 100%;
  padding: 60px 20px;
  box-sizing: border-box;
}
